.btn {
  padding: 10px 40px;
  box-sizing: border-box;

  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: top;

  color: #fff;
  background-color: $color-secondary;

  border-radius: 0;
  transition: all .55s ease-out;
  &:hover {
    color: #fff;
    background-color: $color-main;
  }

  &:active {

  }

  &--small {
    padding: 5px 8px;
  }
}
