$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";


$color-main: #2C3E50;
$color-secondary: #FF5806;

$green: #25C4AA;
$blue: #00BFF3;

$gray-light: #F7F7F7;
$gray: #505050;
$gray-dark: #464646;
$gray-darken: #5F5F5F;

$black: #313131
