.clients {
  padding-bottom: 150px;
}

.slide {
  text-align: center;

  &__photo {
    margin-bottom: 40px;
  }

  &__text {
    height: 60px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__text--more {
    font-size: 11px;
  }

  &__title {
    font-size: 16px;
  }
}

.carousel-indicators {
  bottom: -60px;
}

.carousel-indicators li {
  border: 1px solid $color-main;
}

.carousel-indicators .active {
  background-color: $color-main;
}

.carousel-inner>.item>img {display: inline-block;}
